@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';

[dir="rtl"] {
    text-align: right;
}

[dir="rtl"] .fi-sidebar-nav {
    text-align: right;
}

[dir="rtl"] .fi-tabs {
    direction: rtl;
}